<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Complaints/FeedBack</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center">Register New FeedBack</h2>
     <form th:action="@{/feedbacks}" th:object="${feedback}" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" th:field="*{name}" >
        <small th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></small>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" th:field="*{email}" >
        <small th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></small>
    </div>
    <div class="form-group">
        <label for="feedback">Feedback</label>
        <textarea id="feedback" name="feedback" class="form-control" th:field="*{feedback}" rows="4" ></textarea>
        <small th:if="${#fields.hasErrors('feedback')}" class="text-danger" th:errors="*{feedback}"></small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

    </div>
</body>
</html>
